body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    color: #333;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    max-height: 150px;  /* Limit the height of the images */
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.card h2 {
    margin: 0;
    color: #333;
}

.card p {
    color: #666;
    text-align: left;
}

.card a {
    color: #0066cc;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

form {
    margin-top: 10px;
}

.ui-datepicker {
    background: #fff;
    border: 1px solid #555;
    color: #000;
}
