<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <title>Welcome Page</title>
</head>
<body>
    <header>
        <h1>Welcome to the Exhibition and Restaurant Guide</h1>
    </header>

    <section class="city-selection">
        <p>Select a city:</p>
        <form action="/exhibitions" method="get">
            <label for="city">City:</label>
            <select name="city" id="city">
                {% for city in cities %}
                    <option value="{{ city }}">{{ city.capitalize() }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
    </section>

    <section id="main-calendar"></section>

    <section class="exhibitions">
        <h2>Selected Exhibitions</h2>
        <div class="card-container">
            {% for exhibition in exhibitions %}
                <div class="card" id="exhibition-{{ loop.index }}" data-exhibition-id="{{ exhibition.exhibition_name }}">
                    <div class="card-image">
                        <img src="{{ exhibition.gallery_img }}" alt="Gallery Image">
                    </div>
                    <div class="card-content">
                        <h3>{{ exhibition.exhibition_name }}</h3>
                        <p><strong>Gallery:</strong> {{ exhibition.galery_name }}</p>
                        <p><strong>Location:</strong> {{ exhibition.galery_adress }}</p>
                        <p><strong>Open Hours:</strong> {{ exhibition.open_hours }}</p>
                        <p><strong>Description:</strong> 
                            {% set description = exhibition.exhibition_description | default('', true) %}
                            {% set words = description.split() %}
                            {{ words[:10] | join(' ') }}
                            {% if words | length > 10 %}...{% endif %}
                        </p>
                        <p><strong>Planned Dates:</strong> {{ exhibition.planned_dates | join(', ') }}</p>
                        <form method="post" action="/remove_exhibition">
                            <input type="hidden" name="exhibition" value='{{ exhibition | tojson }}'>
                            <button type="submit" class="button-remove">Remove Exhibition</button>
                        </form>
                        <form method="post" action="/update_planned_dates">
                            <input type="hidden" name="exhibition_name" value="{{ exhibition.exhibition_name }}">
                            <label for="new_dates">Edit Planned Dates:</label>
                            <input type="text" id="new_dates_{{ loop.index }}" name="new_dates" value="{{ exhibition.planned_dates | join(', ') }}" readonly>
                            <button type="submit" class="button-update">Update Dates</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <p>No selected exhibitions.</p>
            {% endfor %}
        </div>
    </section>

    <script>
        $(document).ready(function() {
            $('#main-calendar').fullCalendar({
                height: '50%',
                events: {{ events | tojson }},
                eventClick: function(event) {
                    if (event.id) {
                        $('html, body').animate({
                            scrollTop: $("#" + event.id).offset().top
                        }, 1000);
                        $(".card").removeClass("highlight");
                        $("#" + event.id).addClass("highlight");
                    }
                }
            });

            {% for exhibition in exhibitions %}
                var startDate = moment("{{ exhibition.start_date }}");
                var endDate = moment("{{ exhibition.end_date }}");
                $("#new_dates_{{ loop.index }}").daterangepicker({
                    minDate: startDate,
                    maxDate: endDate,
                    locale: {
                        format: 'YYYY-MM-DD'
                    }
                });
            {% endfor %}
        });
    </script>
</body>
</html>
